<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title><%= htmlWebpackPlugin.options.title %></title>
    <% if (htmlWebpackPlugin.options.description) { %>
    <meta name="description" content="<%= htmlWebpackPlugin.options.description %>"/>
    <% } %>

    <meta property="og:url" content="<%= htmlWebpackPlugin.options.pkg.homepage %>">
    <meta property="og:site_name" content="<%= htmlWebpackPlugin.options.title %>">
    <meta property="og:title" content="<%= htmlWebpackPlugin.options.description %>">
    <meta property="og:description" content="<%= htmlWebpackPlugin.options.pkg.details %>">
    <meta property="og:image" content="<%= htmlWebpackPlugin.options.pkg.homepage + 'favicon-192.png' %>">
    <meta property="og:image:type" content="image/png">

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">

  </head>
  <body>
    <div id="app"></div>
  </body>
</html>
